        <div class="well span6 offset3">
          <h2>Results for "<em>query</em>"</h2>
          
          <div class="level-group">
            <h3>Level 4</h3>
            <ul>
              <li>Room 421</li>
              <li>Room 421</li>
              <li>Room 421</li>
            </ul>
          </div>
          
          <div class="level-group">
            <h3>Level 4</h3>
            <ul>
              <li>Room 421</li>
              <li>Room 421</li>
              <li>Room 421</li>
            </ul>
          </div>
        </div>