{% extends "layout.html" %}
{% block content %}
        <div class="well span6 offset3">
          <ul class="breadcrumb">
            <li>
              <a href="#">Floor {{ room.floor_id }}</a>
              {% if title == "Room" %}
              <span class="divider">/</span>
            </li>
            <li>
              <a href="#">Room {{ room.room_id }}</a>
              {% endif %}
            </li>
          </ul>
          
          <!-- remove borders, backgrounds -->
          <ul class="thumbnails">
            <li class="span6">
              <a href="#" class="thumbnail">
                <img src="http://placehold.it/560x412&text={{ title }}%20{{ id }}" alt="">
              </a>
            </li>
          </ul>

          <div id="comments" class="span6" style="margin-left:0px;">

            <div class="post">
              <p>Post something on this {{ title|lower }}'s wall!</p>
              <form class="form-horizontal">
                <textarea style="max-width:80%; width:80%;"></textarea>
                <a style="width:10%;" class="pull-right btn btn-primary">Post!</a>
              </form>
            </div>

            {% for comment in comments %}
            <div class="comment well">
              Comm# {{ comment.comment_id }}<br />
              {{ comment.comment }}
              {{ comment.date_created }}
            </div>
            {% endfor %}

          </div>


        </div>
{% endblock %}