{% extends "layout.html" %}
{% block content %}
		<head>
		    <title>Search{% if query %} Results{% endif %}</title>
		</head>
		{% if keywords %}
        <div class="well span6 offset3">
          <ul class="breadcrumb">
            <li>
              <p>Search Results for "{{ keywords }}"</p>
            </li>
          </ul>
          
          <div id="search_results" class="span6" style="margin-left:0px;">

            {% if query_results %}
			{% for result in query_results %}
			<ul>
        		<li><a href="/room/{{ result }}"> {{ result.description }} </a></li>
		    </ul>
			{% endfor %}
			{% else %}
		    <p>No match is found. Try shorter keywords?</p>
			{% endif %}


          </div>


        </div>
		{% endif %}
{% endblock %}
